.shuffle-overlay {
  z-index: 10;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-label {
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.wavecontainer {
  height: 100px;
}

.wave {
  margin-top: 15px;
  float: left;
  width: 18px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin-left: -2px;
  -webkit-animation: slide 0.6s infinite linear;
  animation: slide 0.6s infinite linear;
}
.wave:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wave:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wave:nth-child(2n + 1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@keyframes slide {
  50% {
    margin-top: 25px;
  }
}
